@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

/* PÁGINA DE LOGIN */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.cabecalho {
    margin: 0;
    padding: 8px;
}

#cabecalho-emge {
    background-position: center left;
}

#dhc {
    float: right;
    padding-right: 6px;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #ecf0f1;
}

.primeiro-conteudo {
    display: flex;
    position: relative;
}

.primeira-coluna {
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}

.titulo {
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.descricao {
    font-size: 14px;
    color: white;
    font-weight: 300;
    line-height: 40px;
}

.segunda-coluna {
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #D1462F;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0;
    border: 1px solid #D1462F;
    margin-top: 8px;
}


.btn-primary {
    background-color: transparent;
    color: #D1462F;
    padding: 10px 50px;
    font-weight: 300;
}

.btn-primary:hover {
    background-color: #D1462F;
    color: white;
    font-weight: 300;
    transition: all 0.3s ease;
}

.conteudo {
    border-radius: 15px;
    background-color: white;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;

}

.conteudo::before {
    content: "";
    position: absolute;
    background-color: #D1462F;
    width: 35%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.label-input {
    background-color:#ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.form input {
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    width: 100%;
}

.form input:active {
    text-decoration: none;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

#forgotpassword {
    text-align: center;
    font-size: 13px;
    line-height: 30px;
}

#password {
    color: #D1462F;
}

#password:hover {
    color: black;
}

.rodape {
    background-color: #D1462F;
    height: 5.7vh;
}

/* PÁGINA INICIAL */

#cabecalho-inicial {
    height: 14vh;
    justify-content: center;
    justify-content: space-between;
    display: flex;
    padding-right: 20px;
    background-color: gray;
}

#imagem-emge {
    margin: 10px;
    height: 60px;
}