@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

/* PÁGINA DE LOGIN */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#emge {
    width: 155px;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #ecf0f1;
}

.primeiro-conteudo {
    display: flex;
    position: relative;
}

.primeira-coluna {
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}

.titulo {
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.descricao {
    font-size: 14px;
    color: white;
    font-weight: 300;
    line-height: 40px;
}

.segunda-coluna {
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #C41C3E;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0;
    border: 1px solid #C41C3E;
    margin-top: 8px;
    cursor: pointer;
}


.btn-primary {
    background-color: transparent;
    color: #C41C3E;
    padding: 10px 50px;
    font-weight: 300;
}

.btn-primary:hover {
    background-color: #C41C3E;
    color: white;
    font-weight: 300;
    transition: all 0.3s ease;
}

.conteudo {
    border-radius: 15px;
    background-color: white;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;

}

.conteudo::before {
    content: "";
    position: absolute;
    background-color: #C41C3E;
    width: 35%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.label-input {
    background-color:#ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.form input {
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    width: 100%;
    padding-left: 5px;
}

.form input:active {
    text-decoration: none;
}

.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

#forgotpassword {
    text-align: center;
    font-size: 13px;
    line-height: 30px;
}

#password {
    color: #D1462F;
}

#password:hover {
    color: black;
}

/* PÁGINA INICIAL */

.cabecalho-inicial {
    height: 14vh;
    justify-content: center;
    justify-content: space-between;
    display: flex;
    padding-right: 20px;
    background-image: linear-gradient(to right, #C41C3E, #A4B4CA);
}

#imagem-emge {
    margin: 10px;
    height: 60px;
}

.caixa {
    border-radius: 15px;
    background-color: white;
    width: 960px; 
}

.pagina-inicial {
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.botao {
    height: 200px;
    width: 180px;
    margin: 100px;
    font-size: 17px;
    border-radius: 6px;
    border-width: 0;
    cursor: pointer;
    /* background-color: rgba(128, 128, 128, 0.5); */
    font-weight: 500;
}

.botao:hover {
    border: 2px solid black;
    transition: all 0.1s ease;
}

.icone1 {
    margin-bottom: 30px;
    font-size: 90px;
}

.rodape-main {
    background-color: #C41C3E;
    height: 6vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.texto-rodape {
    color: white;
    font-weight: 300;
}

.reserva {
    height: 80%;
    display: flex;
    justify-content: center;
    width: 860px;
    position: relative;
}

#form-reserva {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    height: 100%;
    line-height: 80px;
    padding-left: 60px;
    padding-right: 60px;
}

#form-reserva input {
    border-radius: 5px;
    border: none;
    background-color: #ecf0f1;
    padding: 5px;
    margin-left: 10px;
}

#form-reserva input:active {
    border: none;
}

.btn-reserva {
    background-color: transparent;
    color: #D1462F;
    padding: 10px 50px;
    font-weight: 300;
    align-self: center;
    cursor: pointer;
}

.btn-reserva:hover {
    background-color: #D1462F;
    color: white;
    transition: all 0.3s ease;
}

.reserva-tit {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D1462F;
} 

.tinput {
    width: 200px;
    display: inline-block;
}

.reserva-label {
    display: block;
    float: left;
}